<%- include("../partials/header") %>

<section class="root-container">

    <div class="root-image">
        <div class="image-layout">
            <img class="phone-image phone-image-1" src="/img/smartmockups_kac7o12x.png">
            <img class="phone-image phone-image-2" src="/img/smartmockups_kac7o12x.png">
        </div>
    </div>

    <div class="root-login">

        <div class="login-container">
            <h1 class="login-title">Instasham</h1>
            <form class="login">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <input class="form-control submit" type="submit" value="Log In">
                </div>
            </form>
        </div>

        <div class="register-container">
            <p class="register-blurb">Don't have an account? <a class="register-link" href="">Sign up</a></p>
        </div>

        <div class="appstore-container">
            <p class="appstore-blurb">Get the app.</p>
            <div class="btn-container">
                <button class="appstore-btn appstore-btn-1">
                    <svg class="icon">
                        <use href="/img/sprite.svg#icon-apple"></use>
                    </svg>
                    <p class="btn-blurb btn-blurb-apple"><span class="small">Download on the</span> AppStore</p>
                </button>
                <button class="appstore-btn appstore-btn-2">
                    <svg class="icon">
                        <use href="/img/sprite.svg#icon-googleplay"></use>
                    </svg>
                    <p class="btn-blurb btn-blurb-google"><span class="small">GET IT ON</span> Google Play</p>
                </button>
            </div>
        </div>

    </div>

    <div class="root-footer">

        <div class="footer-links">
            <a href="" class="footer-link">About</a>
            <a href="" class="footer-link">Help</a>
            <a href="" class="footer-link">Press</a>
            <a href="" class="footer-link">API</a>
            <a href="" class="footer-link">Jobs</a>
            <a href="" class="footer-link">Privacy</a>
            <a href="" class="footer-link">Terms</a>
            <a href="" class="footer-link">Locations</a>
            <a href="" class="footer-link">Top Accounts</a>
            <a href="" class="footer-link">Hashtags</a>
            <a href="" class="footer-link">Language</a>
        </div>

        <div class="footer-copy">
            <p class="footer-c">&copy; 2020 Instasham from Spacebook</p>
        </div>

    </div>

</section>


<%- include("../partials/footer") %>