<nav class="navbar container">
    <div class="navbrand">
        <a class="brandlink" href="">Instasham</a>
    </div>

    <div class="navsearch">
        <form class="search">
            <input type="text" class="search-input" placeholder="Search">
        </form>
    </div>

    <div class="navlinks">
        <div class="nav-item">
            <a class="navlink" href="">
                <svg class="nav-icon">
                    <use href="/img/sprite2.svg#icon-home_filled"></use>
                </svg>
            </a>
        </div>
        <div class="nav-item">
            <a class="navlink" href="">
                <svg class="nav-icon">
                    <use href="/img/sprite2.svg#icon-send"></use>
                </svg>
            </a>
        </div>
        <div class="nav-item">
            <a class="navlink" href="">
                <svg class="nav-icon">
                    <use href="/img/sprite2.svg#icon-compass"></use>
                </svg>
            </a>
        </div>
        <div class="nav-item">
            <a class="navlink" href="">
                <svg class="nav-icon">
                    <use href="/img/sprite2.svg#icon-heart"></use>
                </svg>
            </a>
        </div>
        <div class="nav-item">
            <a class="navlink" href="">
                <img class="profile-pic" src="/img/profile.jpeg">
            </a>
        </div>
    </div>
</nav>